# Optional: Watchtower notification URL
# Examples:
# Discord: discord://token@webhookid
# Slack: slack://token@channel
# Email: smtp://username:password@host:port/?from=sender@example.com&to=receiver@example.com
WATCHTOWER_NOTIFICATION_URL=
